// COLORS \\
$black: #000;
$darkest: $black + 40;
$darker: $black + 60;
$dark: $black + 80;

$white: #fff;
$light: $white - 20;

$color-facebook: #0844a4;
$color-twitter: #00a4d3;
$color-instagram: #8c3d22;


// FONTS \\
$font-menu: 24px;

$font-normal: 24px;
$font-largest: $font-normal + 20px;
$font-small: $font-normal - 12px;


// LAYOUT \\
$min-width: 960px;